.begin {
    position: relative;
    display: block;
    left: 95px;
    top: 170px;
    width : 450px;
    height: 252px;
    border-radius: 50%;

}

.begin:hover {
    box-shadow: 1px 1px 20px orange;
}

.suite {
    position: relative;
    display: block;
    left: 1175px;
    top: 330px;
    width : 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 999;

}

.suite:hover, .unePageHaut:hover, .deuxPagesHaut:hover, .unePageMilieu:hover, .deuxPagesMilieu:hover, .unePageBas:hover, .deuxPagesBas:hover {
    box-shadow: 1px 1px 20px orange;
}

.lienHaut {
    position: absolute;
    display: block;
    box-shadow: 1px 1px 10px orange;
    z-index: 999;
    width: 600px;
    height: 280px;
    top: 10px;
    left: 695px;

}
.lienMilieu {
    position: absolute;
    display: block;
    box-shadow: 1px 1px 10px orange;
    z-index: 999;
    width: 600px;
    height: 280px;
    top: 310px;
    left: 695px;

}

.lienBas {
    position: absolute;
    display: block;
    box-shadow: 1px 1px 10px orange;
    z-index: 999;
    width: 600px;
    height: 280px;
    top: 615px;
    left: 695px;

}

.unePageHaut {
    position: absolute;
    display: block;
    left: 1092px;
    top: 190px;
    width : 100px;
    height: 50px;
    border-radius: 30% / 50%;
    z-index: 999;

}

.deuxPagesHaut {
    position: absolute;
    display: block;
    left: 1092px;
    top: 247px;
    width : 100px;
    height: 50px;
    border-radius: 30% / 50%;
    z-index: 999;

}



.unePageMilieu {
    position: absolute;
    display: block;
    left: 1092px;
    top: 487px;
    width : 100px;
    height: 50px;
    border-radius: 30% / 50%;
    z-index: 999;

}

.deuxPagesMilieu {
    position: absolute;
    display: block;
    left: 1092px;
    top: 547px;
    width : 100px;
    height: 50px;
    border-radius: 30% / 50%;
    z-index: 999;

}

.unePageBas {
    position: absolute;
    display: block;
    left: 1092px;
    top: 787px;
    width : 100px;
    height: 50px;
    border-radius: 30% / 50%;
    z-index: 999;

}

.deuxPagesBas {
    position: absolute;
    display: block;
    left: 1092px;
    top: 847px;
    width : 100px;
    height: 50px;
    border-radius: 30% / 50%;
    z-index: 999;

}

