.item img {
    width: 100px;
    height: 100px;
    border-radius : 50%;
    border : black solid thin;
}

.item {
    position: absolute;
    top : 35%;
    left: 15%;
    display:none;
}

.visible {display: block;

}
