.Choix {
    width : 1302px;
    height: 921px;
    background-image: url('../assets/Dragon_Choix01-page-002.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    display: block;
    

}


#continue {

    display: block;
    position: relative;
    top: 400px;
    left: 1205px;

}