.Village {
    width : 1447px;
    height: 1024px;
    background-image: url('../assets/Dragon_Choix01-page-003.jpg');
    background-position: center;
    background-size: cover;
    margin: auto;
}

